name: "Test"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v7
    - uses: cachix/cachix-action@v5
      with:
        name: ttuegel
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        file: 'release.nix'
        attributes: 'kframework'
